.title {
  text-align: center;
  font-family: "Amatic SC", cursive;
  letter-spacing: 15px;
  color: #d0d0d0;
}
#mainTitle {
  font-size: 60px;
}
#subTitle {
  font-size: 24px;
  margin-top: -40px;
}
body {
  background-color: grey;
}
.container {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gameButtons {
  letter-spacing: 10px;
  background-color: red;
  color: white;
}
#letterBoard {
  text-align: center;
}
.divLetter {
  border: solid 5px red;
  color: #d0d0d0;
  font-size: 75px;
  display: inline-block;
  width: 5rem;
  height: 5rem;
}
#answerHeader {
  font-size: 50px;
  color: #d0d0d0;
}
#answer {
  font-size: 40px;
  width: 3rem;
  text-align: center;
  border: solid 5px red;
  background-color: #d0d0d0;
  color: red;
}
.spacer {
  margin-top: 15px;
}
#astroIMG {
  display: block;
  /* temporary fix to center space man. */
  margin-left: 28.5vw;
  margin-right: 55vw;
  width: 40%;
}
footer {
  font-size: 14px;
  color: #d0d0d0;
}
