.title {
  text-align: center;
  font-family: "Amatic SC", cursive;
  letter-spacing: 15px;
  color: #d0d0d0;
}
#mainTitle {
  font-size: 60px;
}
#subTitle {
  font-size: 24px;
  margin-top: -40px;
}
body {
  background-color: grey;
}
.container {
  text-align: center;
  margin-top: 40vh;
}
.gameButtons {
  letter-spacing: 10px;
  background-color: red;
  color: white;
}
.letter {
  width: 2rem;
  background-color: red;
  color: red;
  font-size: 32px;
}
#letterBoard {
  text-align: center;
  /* max-width: 40%; */
}
.health {
  /* margin-bottom: -10%; */
  margin-top: 15vh;
  margin-left: 15vw;
}
#answerHeader {
  font-size: 50px;
  color: #d0d0d0;
}
#answer {
  font-size: 40px;
  width: 3rem;
  text-align: center;
}
